@reference "tailwindcss";

@utility h-90px {
  height: 90px;

}

@utility w-90px {
  width: 90px;

}

@utility circle {
  border-radius: 50%;

}

@utility scale-button {
  transform: scale(0.9);

}

:host {
  @apply flex items-center justify-center h-lvh w-lvw overflow-hidden;

}

.input-text {
  @apply absolute h-0 w-[100px] opacity-1 cursor-default focus-visible:outline-none;

}

.game {
  @apply flex items-center justify-center text-3xl font-bold select-none cursor-pointer h-90px w-90px circle active:scale-button transition;

}

.btn {
  @apply border border-gray-300 font-semibold active:bg-gray-300 select-none cursor-pointer;

}
