@reference "tailwindcss";

@utility h-90px {
  height: 90px;

}

@utility w-90px {
  width: 90px;

}

@utility scale-button {
  transform: scale(0.9);

}

:host {
  @apply relative flex flex-col items-center justify-center h-lvh w-lvw overflow-hidden;

}

.box-message {
  @apply bg-black text-white flex items-center absolute h-[37px] w-auto !pr-3 !pl-3 transform-[translateY(-260px)] rounded-[5px] z-[900];

}

.word-panel {
  @apply bg-white absolute w-[95%] p-1.5 top-[50px] mt-2.5 border-[1px] border-gray-300 rounded-[5px] overflow-hidden z-[910];

}

.arrow {
  @apply h-[34px] w-[34px] cursor-pointer;

}

.input-text {
  @apply absolute h-0 w-[100px] opacity-1 cursor-default focus-visible:outline-none;

}

.game {
  @apply flex items-center justify-center text-3xl font-bold select-none cursor-pointer h-90px w-90px rounded-full active:scale-button transition;

}

.btn {
  @apply border border-gray-300 disabled:border-gray-100 disabled:bg-gray-50 font-semibold active:bg-gray-300 select-none cursor-pointer;

}
