<app-modal [height]="'500px'" [width]="'min(500px, 80%)'" [closePath]="'soletre/'">
  <div [ngClass]="'flex flex-col items-center justify-center gap-[10px]'">
    <p [ngClass]="'font-bold text-[1em]'">Você ganhou 😎</p>
    <h1 [ngClass]="'font-black text-[2em]'">Parabéns</h1>
    <p [ngClass]="'font-medium'">Você acertou todas as {{ totalWords() }} palavras</p>

    <ul [ngClass]="'flex justify-evenly list-none w-[340px] mt-[14px]!'">
      @for (icon of icons; let index = $index; track index) {
        <li [ngClass]="'link'">
          <a [href]="links[index]" [target]="'_blank'">
            <fa-icon [icon]="icon"></fa-icon>

          </a>

        </li>

      }

    </ul>

  </div>

</app-modal>
