@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --animate-blinking-cursor: blinking .6s ease-in infinite;

  @keyframes blinking {
    0%, 100% {
      opacity: 1;

    }

    50% {
      opacity: 0;

    }

  }

}

* {
  @apply p-0 m-0 box-border;

}

body {
  @apply h-svh w-svw font-inter overflow-hidden;

}
