@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-cookie: "Cookie", cursive;
  --animate-blinking-cursor: blinking .6s ease-in infinite;

  --animate-arrow-rotate-up: rotate_up .5s ease;
  --animate-arrow-rotate-down: rotate_down .5s ease;

  @keyframes blinking {
    0%, 100% {
      opacity: 1;

    }

    50% {
      opacity: 0;

    }

  }

  @keyframes rotate_up {
    from {
      rotate: 0deg;

    }

    to {
      rotate: 180deg;

    }

  }

  @keyframes rotate_down {
    from {
      rotate: 180deg;

    }

    to {
      rotate: 0deg;

    }

  }

}

@utility l-central {
  @apply text-blue-600;

}

@utility l-valid {
  @apply text-black;

}

@utility l-invalid {
  @apply text-gray-300;

}

* {
  @apply p-0 m-0 box-border;

}

body {
  @apply h-svh w-svw font-inter overflow-hidden;

}
